/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COMMON
   ============== */
body {
    text-align: center;
    background-color: rgb(255, 136, 0);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ============== */

/* BODY
   ============== */

h1 {
    padding-top: 10vh;
    padding-bottom: 5vh;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    background: tomato;

}

p {
    padding-top: 10px;
    text-transform: uppercase;
    padding-bottom: 4vh;
}

.pwd-hider {
    height: 25vh;
    display: flex;
    position: relative;
    width: 600px;
    margin: 10px auto;
    justify-content: space-between;
}

.curtain {
    width: 300px;
    border: 1px solid black;
    background: red;
    background: url('https://www.picclickimg.com/d/l400/pict/193547198989_/CHERRY-BLOSSOM-Wallpaper-112-Dolls-House-Green-Paper.jpg');
    height: 100%;
    transition: width 3s;
}

.pwd-hider:active .curtain {
    width: 5%;
}

#pwd {
    position: absolute;
    width: 550px;
    word-break: break-all;
    z-index: -1;
    top: 50%;
    left: 50%;
    font-size: 150%;
    text-shadow: 1px 1px 1px black;
    transform: translate(-50%, -50%);
}

.click::before {
    content: "";
    border: 15px solid transparent;
    display: block;
    border-bottom-color: whitesmoke;
    width: 0px;
    margin: auto;
    margin-bottom: 10px;
}

/* ============== */